# macOS
.DS_Store

# IDE
.idea/
.vscode/
.claude/

# dependencies
node_modules
node_modules/

# Next.js / build outputs
.next/
out/
build/

# local app data
.data/

# env
.env*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# TypeScript cache
*.tsbuildinfo
